
    @-webkit-keyframes mui-auto-fill {
      from {
        display: block;
      }
    }

    @keyframes mui-auto-fill {
      from {
        display: block;
      }
    }

    @-webkit-keyframes mui-auto-fill-cancel {
      from {
        display: block;
      }
    }

    @keyframes mui-auto-fill-cancel {
      from {
        display: block;
      }
    }

    @-webkit-keyframes mui-auto-fill {
      from {
        display: block;
      }
    }

    @keyframes mui-auto-fill {
      from {
        display: block;
      }
    }

    @-webkit-keyframes mui-auto-fill-cancel {
      from {
        display: block;
      }
    }

    @keyframes mui-auto-fill-cancel {
      from {
        display: block;
      }
    }

    .css-1h7anqn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .css-vr8sev {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
      margin-left: -11px;
      margin-right: 16px;
    }

    .css-vr8sev.Mui-disabled {
      cursor: default;
    }

    .css-vr8sev .MuiFormControlLabel-label.Mui-disabled {
      color: rgba(0, 0, 0, 0.38);
    }

    .css-vr8sev .MuiFormControlLabel-label {
      font-size: 16px;
      color: #4B5562;
    }

    @media (max-width:599.95px) {
      .css-vr8sev .MuiFormControlLabel-label {
        font-size: 14px !important;
      }
    }
  
    .css-1bjyq4s {
      width: 42px;
      height: 26px;
      padding: 0;
    }

    .css-1bjyq4s .MuiSwitch-switchBase {
      padding: 0;
      margin: 2px;
      transition-duration: 300ms;
    }

    .css-1bjyq4s .MuiSwitch-switchBase.Mui-checked {
      -webkit-transform: translateX(16px);
      -moz-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
      color: #fff;
    }

    .css-1bjyq4s .MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
      background-color: #FF7526;
      opacity: 1;
      border: 0;
    }

    .css-1bjyq4s .MuiSwitch-switchBase.Mui-checked.Mui-disabled+.MuiSwitch-track {
      opacity: 0.5;
    }

    .css-1bjyq4s .MuiSwitch-switchBase.Mui-focusVisible .MuiSwitch-thumb {
      color: #33cf4d;
      border: 6px solid #fff;
    }

    .css-1bjyq4s .MuiSwitch-switchBase.Mui-disabled .MuiSwitch-thumb {
      color: #F3F4F6;
    }

    .css-1bjyq4s .MuiSwitch-switchBase.Mui-disabled+.MuiSwitch-track {
      opacity: 0.7;
    }

    .css-1bjyq4s .MuiSwitch-thumb {
      box-sizing: border-box;
      width: 22px;
      height: 22px;
    }

    .css-1bjyq4s .MuiSwitch-track {
      border-radius: 13px;
      background-color: #E9E9EA;
      opacity: 1;
      -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
 
    .css-ojprqc {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 58px;
      height: 38px;
      overflow: hidden;
      padding: 12px;
      box-sizing: border-box;
      position: relative;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      z-index: 0;
      vertical-align: middle;
      width: 42px;
      height: 26px;
      padding: 0;
    }

    @media print {
      .css-ojprqc {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }
    }

    .css-ojprqc .MuiSwitch-switchBase {
      padding: 0;
      margin: 2px;
      transition-duration: 300ms;
    }

    .css-ojprqc .MuiSwitch-switchBase.Mui-checked {
      -webkit-transform: translateX(16px);
      -moz-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
      color: #fff;
    }

    .css-ojprqc .MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
      background-color: #FF7526;
      opacity: 1;
      border: 0;
    }

    .css-ojprqc .MuiSwitch-switchBase.Mui-checked.Mui-disabled+.MuiSwitch-track {
      opacity: 0.5;
    }

    .css-ojprqc .MuiSwitch-switchBase.Mui-focusVisible .MuiSwitch-thumb {
      color: #33cf4d;
      border: 6px solid #fff;
    }

    .css-ojprqc .MuiSwitch-switchBase.Mui-disabled .MuiSwitch-thumb {
      color: #F3F4F6;
    }

    .css-ojprqc .MuiSwitch-switchBase.Mui-disabled+.MuiSwitch-track {
      opacity: 0.7;
    }

    .css-ojprqc .MuiSwitch-thumb {
      box-sizing: border-box;
      width: 22px;
      height: 22px;
    }

    .css-ojprqc .MuiSwitch-track {
      border-radius: 13px;
      background-color: #E9E9EA;
      opacity: 1;
      -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-s7xq99 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-s7xq99.Mui-checked {
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    .css-s7xq99.Mui-disabled {
      color: #F3F4F6;
    }

    .css-s7xq99.Mui-checked+.MuiSwitch-track {
      opacity: 0.5;
    }

    .css-s7xq99.Mui-disabled+.MuiSwitch-track {
      opacity: 0.12;
    }

    .css-s7xq99 .MuiSwitch-input {
      left: -100%;
      width: 300%;
    }

    .css-s7xq99:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    @media (hover: none) {
      .css-s7xq99:hover {
        background-color: transparent;
      }
    }

    .css-s7xq99.Mui-checked {
      color: #28B8A7;
    }

    .css-s7xq99.Mui-checked:hover {
      background-color: rgba(40, 184, 167, 0.04);
    }

    @media (hover: none) {
      .css-s7xq99.Mui-checked:hover {
        background-color: transparent;
      }
    }

    .css-s7xq99.Mui-checked.Mui-disabled {
      color: rgb(173, 228, 221);
    }

    .css-s7xq99.Mui-checked+.MuiSwitch-track {
      background-color: #28B8A7;
    }

    .css-1ht97n9 {
      padding: 9px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-1ht97n9.Mui-checked {
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    .css-1ht97n9.Mui-disabled {
      color: #F3F4F6;
    }

    .css-1ht97n9.Mui-checked+.MuiSwitch-track {
      opacity: 0.5;
    }

    .css-1ht97n9.Mui-disabled+.MuiSwitch-track {
      opacity: 0.12;
    }

    .css-1ht97n9 .MuiSwitch-input {
      left: -100%;
      width: 300%;
    }

    .css-1ht97n9:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    @media (hover: none) {
      .css-1ht97n9:hover {
        background-color: transparent;
      }
    }

    .css-1ht97n9.Mui-checked {
      color: #28B8A7;
    }

    .css-1ht97n9.Mui-checked:hover {
      background-color: rgba(40, 184, 167, 0.04);
    }

    @media (hover: none) {
      .css-1ht97n9.Mui-checked:hover {
        background-color: transparent;
      }
    }

    .css-1ht97n9.Mui-checked.Mui-disabled {
      color: rgb(173, 228, 221);
    }

    .css-1ht97n9.Mui-checked+.MuiSwitch-track {
      background-color: #28B8A7;
    }

    .css-1pemnp5 {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      outline: 0;
      border: 0;
      margin: 0;
      border-radius: 0;
      padding: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      -webkit-text-decoration: none;
      text-decoration: none;
      color: inherit;
      padding: 9px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-1pemnp5::-moz-focus-inner {
      border-style: none;
    }

    .css-1pemnp5.Mui-disabled {
      pointer-events: none;
      cursor: default;
    }

    @media print {
      .css-1pemnp5 {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }
    }

    .css-1pemnp5.Mui-checked {
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    .css-1pemnp5.Mui-disabled {
      color: #F3F4F6;
    }

    .css-1pemnp5.Mui-checked+.MuiSwitch-track {
      opacity: 0.5;
    }

    .css-1pemnp5.Mui-disabled+.MuiSwitch-track {
      opacity: 0.12;
    }

    .css-1pemnp5 .MuiSwitch-input {
      left: -100%;
      width: 300%;
    }

    .css-1pemnp5:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    @media (hover: none) {
      .css-1pemnp5:hover {
        background-color: transparent;
      }
    }

    .css-1pemnp5.Mui-checked {
      color: #28B8A7;
    }

    .css-1pemnp5.Mui-checked:hover {
      background-color: rgba(40, 184, 167, 0.04);
    }

    @media (hover: none) {
      .css-1pemnp5.Mui-checked:hover {
        background-color: transparent;
      }
    }

    .css-1pemnp5.Mui-checked.Mui-disabled {
      color: rgb(173, 228, 221);
    }

    .css-1pemnp5.Mui-checked+.MuiSwitch-track {
      background-color: #28B8A7;
    }

    .css-1m9pwf3 {
      cursor: inherit;
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 1;
    }

    .css-19gndve {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      background-color: currentColor;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .css-1ju1kxc {
      height: 100%;
      width: 100%;
      border-radius: 7px;
      z-index: -1;
      -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      background-color: #000;
      opacity: 0.38;
    }

    .css-1yd836c {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-weight: 400;
    }

    .css-1v7mkc0 {
      -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-1v7mkc0 .MuiLoadingButton-startIconLoadingStart,
    .css-1v7mkc0 .MuiLoadingButton-endIconLoadingEnd {
      -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      opacity: 0;
    }

    .css-1v7mkc0.MuiLoadingButton-loading {
      color: transparent;
    }

    .css-n886g7 {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.75;
      text-transform: uppercase;
      min-width: 64px;
      padding: 6px 8px;
      border-radius: 4px;
      -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: #28B8A7;
      border-radius: 6px;
      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 12px;
      text-transform: none;
      min-width: 0;
      height: 40px;
      padding: 8px 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-n886g7:hover {
      -webkit-text-decoration: none;
      text-decoration: none;
      background-color: rgba(40, 184, 167, 0.04);
    }

    @media (hover: none) {
      .css-n886g7:hover {
        background-color: transparent;
      }
    }

    .css-n886g7.Mui-disabled {
      color: rgba(0, 0, 0, 0.26);
    }

    .css-n886g7 .MuiLoadingButton-startIconLoadingStart,
    .css-n886g7 .MuiLoadingButton-endIconLoadingEnd {
      -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      opacity: 0;
    }

    .css-n886g7.MuiLoadingButton-loading {
      color: transparent;
    }
    .css-23xx48 {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      outline: 0;
      border: 0;
      margin: 0;
      border-radius: 0;
      padding: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      -webkit-text-decoration: none;
      text-decoration: none;
      color: inherit;
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.75;
      text-transform: uppercase;
      min-width: 64px;
      padding: 6px 8px;
      border-radius: 4px;
      -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: #28B8A7;
      border-radius: 6px;
      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 12px;
      text-transform: none;
      min-width: 0;
      height: 40px;
      padding: 8px 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .css-23xx48::-moz-focus-inner {
      border-style: none;
    }

    .css-23xx48.Mui-disabled {
      pointer-events: none;
      cursor: default;
    }

    @media print {
      .css-23xx48 {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }
    }

    .css-23xx48:hover {
      -webkit-text-decoration: none;
      text-decoration: none;
      background-color: rgba(40, 184, 167, 0.04);
    }

    @media (hover: none) {
      .css-23xx48:hover {
        background-color: transparent;
      }
    }

    .css-23xx48.Mui-disabled {
      color: rgba(0, 0, 0, 0.26);
    }

    .css-23xx48 .MuiLoadingButton-startIconLoadingStart,
    .css-23xx48 .MuiLoadingButton-endIconLoadingEnd {
      -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      opacity: 0;
    }

    .css-23xx48.MuiLoadingButton-loading {
      color: transparent;
    }
